name: CI Pipeline

on:
  workflow_dispatch:        
  pull_request:
    branches: [ main ]      

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  REPO_API: api-gateway
  REPO_CLIENT: client-service
  REPO_ACCOUNT: account-service

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Build API Gateway
      run: mvn -f api-gateway/pom.xml clean package -DskipTests

    - name: Build Client Service
      run: mvn -f client-service/pom.xml clean package -DskipTests

    - name: Build Account Service
      run: mvn -f account-service/pom.xml clean package -DskipTests

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ env.DOCKERHUB_TOKEN }}

    - name: Build & Push API Gateway image
      run: |
        docker build -t ${{ env.DOCKERHUB_USERNAME }}/${{ env.REPO_API }}:latest ./api-gateway
        docker push ${{ env.DOCKERHUB_USERNAME }}/${{ env.REPO_API }}:latest

    - name: Build & Push Client Service image
      run: |
        docker build -t ${{ env.DOCKERHUB_USERNAME }}/${{ env.REPO_CLIENT }}:latest ./client-service
        docker push ${{ env.DOCKERHUB_USERNAME }}/${{ env.REPO_CLIENT }}:latest

    - name: Build & Push Account Service image
      run: |
        docker build -t ${{ env.DOCKERHUB_USERNAME }}/${{ env.REPO_ACCOUNT }}:latest ./account-service
        docker push ${{ env.DOCKERHUB_USERNAME }}/${{ env.REPO_ACCOUNT }}:latest


  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Simulate deployment
      run: echo "Simulating deployment of all services"
